body {
    background: #e3e3e3;
    padding: 50px 0;
  }
  .my-container {
      position: relative;
      background: #5C97FF;
      overflow: hidden;
  }
  .my-container:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.6;
      background-image: url('http://photos1.blogger.com/x/blogger2/6737/706368516761689/400/412493/eyes.jpg');
      background-repeat: no-repeat;
      background-position: 85% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
  }
  .my-container h1 {
      padding: 350px;
      text-align: center;
      z-index: 2;
      position: relative;
      color: #fff;
      font-family: 'Bangers', cursive;
      

  } 
  article {
    background: #fff;
    padding: 15px;
  }

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: rgb(36, 23, 228);
    color: white;
}